**WEEK 1 GA1, GA2, PA**

In [ ]:
import pandas as pd

In [ ]:


#load dataset for GA1
df=pd.read_csv('/content/Week1_GA_dataset.csv')

In [ ]:
df.head(10)

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East
5,2009-01-02,2009,Greenwich,2868880.0,3300000.0,Single Family,Detached House,3,1,1039.0,1.025953,North
6,2009-01-02,2009,Norwalk,571060.0,1000000.0,Single Family,Detached House,3,2,NaN,1.025953,South
7,2009-01-02,2009,Greenwich,592760.0,920000.0,Single Family,Detached House,3,3,937.0,1.025953,North
8,2009-01-02,2009,NaN,603540.0,1680000.0,Single Family,Detached House,3,1,1039.0,1.025953,East
9,2009-01-02,2009,Bridgeport,137901.0,245000.0,Single Family,Detached House,3,1,956.0,1.025953,West

# QN 2

In [ ]:
df.shape

(10000, 12)

#QN 1

In [ ]:
#QN. 2
#How many unknown ("?) values are present in the dataset?
#(df=='?') creates a boolean data frame having all values as either True or False
df=='?'

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,True,False,False,False,False,False,False
9996,False,False,False,False,False,True,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
(df=='?').sum()

Date                    0
Year                    0
Locality                0
Estimated Value         0
Sale Price              0
Property             1823
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area             0
property_tax_rate       0
Face                    0
dtype: int64

In [ ]:
(df=='?').sum().sum()

np.int64(1823)

In [ ]:
import numpy as np

In [ ]:

#Remove/Delete unknown ("?) values present in the dataset to make it null value.
#Remove/Delete -means it will show NAN in place of "?"
#Note: If there is no value present in the dataset it is represented as NAN
#(read pandas documentation for all the other ways to represent null values) in data

df.replace('?', np.nan, inplace=True)

In [ ]:
# WRONG: (df =='NaN')
df.isna()

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,True,False,False,False,False,False,False
9996,False,False,False,False,False,True,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,False,False
9998,False,False,True,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.isna().sum()

Date                    0
Year                    0
Locality             1253
Estimated Value      1243
Sale Price              0
Property             1823
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1229
property_tax_rate       0
Face                    0
dtype: int64

In [ ]:
df.isna().sum().sum()

np.int64(5548)

#QN-3

In [ ]:
value=df.iloc[692, 0]
value

'2009-11-16'

#QN-4

In [ ]:
value=df.iloc[546,7]
value

np.int64(3)

#QN-5

In [ ]:
all_unique=df["Locality"].unique()

In [ ]:
all_unique

array(['Waterbury', 'Bridgeport', 'Greenwich', 'Norwalk', nan,
       'Fairfield', 'West Hartford', 'Stamford'], dtype=object)

# QN-6, 7

In [ ]:
#Which of the following features have missing(NaN) values present in the dataset?
#(Note: compute after removing "?")

df.isna().sum()

Date                    0
Year                    0
Locality             1253
Estimated Value      1243
Sale Price              0
Property             1823
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1229
property_tax_rate       0
Face                    0
dtype: int64

#QN-8

Drop all the samples(rows) with missing values strictly greater than 2. How many samples remains after that ?
 (Note: compute after removing "?")

In [ ]:
df8=df.dropna(thresh=3)

In [ ]:
df8.shape

(10000, 12)

#QN-9

Drop all the samples(rows) with missing values in the original dataframe. How many samples remains after that ?
 (Note: compute after removing "?")

In [ ]:
df_no_na=df.dropna()

In [ ]:
df_no_na.shape

(5449, 12)

# WEEK 1, GA2

In [ ]:
df

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,NaN,Detached House,3,2,1092.0,1.025953,East
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2022-09-30,2022,Bridgeport,153660.0,322000.0,NaN,Detached House,3,3,917.0,1.003979,North
9996,2022-09-30,2022,Bridgeport,109820.0,340000.0,NaN,Duplex,4,4,1416.0,1.003979,North
9997,2022-09-30,2022,Waterbury,83210.0,170000.0,Single Family,Detached House,3,1,964.0,1.003979,South
9998,2022-09-30,2022,NaN,216420.0,415000.0,Single Family,Detached House,3,3,1014.0,1.003979,North
9999,2022-09-30,2022,Norwalk,154920.0,196000.0,Single Family,Detached House,3,1,932.0,1.003979,East

#QN-1, 2

In [ ]:
df_even=df.iloc[::2]

In [ ]:
df_even.iloc[0,3]

np.float64(111440.0)

In [ ]:
df_even.iloc[332,3]

np.float64(256200.0)

#QN-3,4

In [ ]:
df_odd=df.iloc[1::2] #only odd rows

In [ ]:
df_odd.iloc[332,3]

np.float64(352940.0)

In [ ]:
df_odd.iloc[100,5]

'Single Family'

#QN-5

In [ ]:
#select even index rows AND even index columns
df_even_row_col=df.iloc[::2, ::2]

In [ ]:
df_even_row_col.iloc[255,3]

'Detached House'

#QN-6

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               10000 non-null  object
 1   Year               10000 non-null  int64
 2   Locality           8747 non-null   object
 3   Estimated Value    8757 non-null   float64
 4   Sale Price         10000 non-null  float64
 5   Property           8177 non-null   object
 6   Residential        10000 non-null  object
 7   num_rooms          10000 non-null  int64
 8   num_bathrooms      10000 non-null  int64
 9   carpet_area        8771 non-null   float64
 10  property_tax_rate  10000 non-null  float64
 11  Face               10000 non-null  object
dtypes: float64(4), int64(3), object(5)
memory usage: 937.6+ KB

In [ ]:
#Determine the number of samples (rows) in the dataset that belong to the six most recent years, based on the provided data.
recent_6years=sorted(df['Year'].unique(), reverse=True)[:6]
recent_6years
#df['Year'].unique() → all unique years
#sorted(..., reverse=True) → sort from highest (most recent) to lowest
#[:6] → pick the first 6 → six most recent years

[np.int64(2022),
 np.int64(2021),
 np.int64(2020),
 np.int64(2019),
 np.int64(2018),
 np.int64(2017)]

In [ ]:
df6=df[df['Year'].isin(recent_6years)]

In [ ]:
df6.shape

(4749, 12)

#QN-7

#Determine the number of samples (rows) in the dataset which has num_rooms = 3 and num_bathrooms = 3

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               10000 non-null  object
 1   Year               10000 non-null  int64
 2   Locality           8747 non-null   object
 3   Estimated Value    8757 non-null   float64
 4   Sale Price         10000 non-null  float64
 5   Property           8177 non-null   object
 6   Residential        10000 non-null  object
 7   num_rooms          10000 non-null  int64
 8   num_bathrooms      10000 non-null  int64
 9   carpet_area        8771 non-null   float64
 10  property_tax_rate  10000 non-null  float64
 11  Face               10000 non-null  object
dtypes: float64(4), int64(3), object(5)
memory usage: 937.6+ KB

In [ ]:
df7=df[(df['num_rooms']==3) & (df['num_bathrooms']==3)]

In [ ]:
df7.shape

(2730, 12)

#QN-8

In [ ]:
df8=df[(df['num_rooms']==3) | (df['num_bathrooms']==3)]

In [ ]:
df8.shape

(8591, 12)

#QN-9

In [ ]:
df9=df[(df['Year']==2022)&(df['Locality']=='Greenwich')&(df['num_rooms'] == 3) &( (df['Face']=='North') |  (df['Face']=='East') ) ]

In [ ]:
df9.shape

(42, 12)

In [ ]:
filtered_df = df[
    (df['Year'] == 2022) &
    (df['Locality'] == "Greenwich") &
    (df['num_rooms'] == 3) &
    (df['Face'].isin(["North", "East"]))
]
filtered_df.shape

(42, 12)

#QN-10

In [ ]:
df10=df
df10['Date']=pd.to_datetime(df10['Date'], errors='coerce')

In [ ]:
august_rows = df[df['Date'].dt.month == 8]
august_rows.shape

(1050, 12)

#QN-11

In [ ]:
avg_sale_price = df.groupby('Locality')['Sale Price'].mean()
highest_locality = avg_sale_price.idxmax()   # Locality name
highest_price = avg_sale_price.max()        # The max average price
print("Locality with highest average Sale Price:", highest_locality)
print("Average Sale Price there:", highest_price)

Locality with highest average Sale Price: Greenwich
Average Sale Price there: 2270223.539495238